@import "compass/typography/vertical_rhythm";
@import "compass/functions/colors";

// -----
// COMPASS' VERTICAL RHYTHM
// -----

$base-font-size: 17px;
$base-line-height:24px;
$rhythm-unit:"rem";
$rem-with-px-fallback:true;
$round-to-nearest-half-line:true;

// -----
// TYPOGRAPHY
// -----

$sans-serif: "Lato";
$headlines: "Oswald";

$h1: 5.05 * $base-font-size;
$h2: 3.37 * $base-font-size;
$h3: 2.25 * $base-font-size;
$h4: 1.5 * $base-font-size; 
$small: 0.667 * $base-font-size;
$smaller: 0.5 * $base-font-size;

// -----
// COLORS
// -----

$negro: #3b3b3b;
// Paleta de grises basada en el negro;
$gris_o: tint($negro, 20%);
$gris_mo: tint($negro, 40%);
$gris_m: tint($negro, 50%);
$gris_mc: tint($negro, 60%);
$gris_c: tint($negro, 80%);
$humo: #eee;
$blanco: #fff;

// -----
// LAYOUT
// -----

$max-width: 1500px;
$gutter: rhythm(1);
