@import "../mixins/colors";

// -----
// VERTICAL RHYTHM DE COMPASS
// -----
	
	// Tamaño base de tipografía e interlineado
		$base-font-size: 16px;
		$base-line-height:20px;

	// Unidad estándar
		$rhythm-unit:"rem";

	// Fallback para navegadores menos capaces
		$rem-with-px-fallback:true;

	// Permite redondear e interlineado a la mitad más cercana
		$round-to-nearest-half-line:true;



// -----
// TIPOGRAFÍA
// -----

	// Define las familias
		$roboto-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif;
		$roboto-slab: 'Roboto Slab', Georgia, Times, serif;	

	// Define la fuente principal y la secundaria. No más de dos tipografías por proyecto;
		$fuente-principal: $roboto-condensed;
		$fuente-secundaria: $roboto-slab;	

	// Asigna una fuente a cada uso
		$fuente-body: $fuente-principal;
		$fuente-titulos: $fuente-secundaria;
		$fuente-alternativa: $fuente-principal;	

	// Asigna un grosor específico a "bold" y "light"
		$bold: bold;
		$light: 300;	

	// Define la proporción de aspecto de headlines. Se recomienda utilizar http://type-scale.com/
		$enorme: 4 * $base-font-size;
		$h1: 3.157 * $base-font-size;
		$h2: 2.369 * $base-font-size;
		$h3: 1.777 * $base-font-size;
		$h4: 1.333 * $base-font-size; 
		  // $base-font-size
		$pequeno: 0.75 * $base-font-size;
		$enano: 0.6 * $base-font-size;



// -----
// COLORES
// -----
	
	// Se recomienda no utilizar un negro puro.
		$negro: #3b3b3b;
		$blanco: #fff;

	// Paleta de grises basada en el negro;
		$gris_o: tint($negro, 20%);
		$gris_mo: tint($negro, 40%);
		$gris_m: tint($negro, 50%);
		$gris_mc: tint($negro, 60%);
		$gris_c: tint($negro, 80%);

	// Define manualmente un color de bajo contraste para fondos casi imperceptibles.
		$humo: #eee;

	// Define una paleta de colores
		$rojo: red;
		$verde: green;
		$amarillo: yellow;

	// Asigna los colores a usos definidos semánticamente.
		$color-primario: $rojo;
		$color-secundario: $verde;
		$color-error: $rojo;
		$color-ok: $verde;

// -----
// LAYOUT
// -----
	
	// Define el ancho máximo del main wrapper
		$max-width: 1500px;

	// Define el ancho del espaciado entre columnas
		$gutter: rhythm(1);

@import "../mixins/vrhythm";