// -----
// TIPOGRAFIA
// -----

h1, h2, h3, h4, h5, h6 {
	font-family:$headlines;
}

h1 {
	@include adjust-font-size-to($h1);
}

h2 {
	@include adjust-font-size-to($h2);
}

h3 {
	@include adjust-font-size-to($h3);
}

h4 {
	@include adjust-font-size-to($h4);
}

h5, small {
	@include adjust-font-size-to($small);
}

h6 {
	@include adjust-font-size-to($smaller);
}

// -----
// ENLACES - LoVe For HAte
// -----
a, a:link {
	text-decoration:none;
	color:$gris_o;
}

.main-wrapper {
	a, a:link {
		border-bottom:1px solid $gris_c;
		box-shadow: 0px -4px 0px 0px $gris_c inset;
	}
	a:visited, a:focus, a:hover {
		border-bottom:2px solid $humo;
		box-shadow: 0px -4px 0px 0px $humo inset;
	}
}

a:visited {
	color:$gris_o;
}

a:focus, a:hover {
	color:$negro;
}

a:active {
	color:$gris_mc;
}